.mainContainer{
    height: 100vh;
    width: 100vw;
    background-color: #323851;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Container {
    height: 90vh;
    width: 80vw;
    margin: auto;
    padding: 2rem 1rem 0.5rem  1rem;
    border-radius: 2rem;
    display: flex;
    background-color: #2b3045;
    flex-direction: row;
    position: relative;
}

.usersContainer {
    font-family: 'Madimi One';
    font-size: 1rem;
    color: white;
    margin: 1rem;
    padding: 0.25rem;
    background-color: #74767e;
    border-radius: 0.5rem;
    border: 3px solid #434652;
    box-sizing: border-box;
    width: 17vw;
    overflow: auto;
    position: relative;
    z-index: 1;
}

.chatsContainer {
    margin: 1rem;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column; /* Change to column */
    flex: 1; /* Take remaining width */
}

.inputAndSend {
    height: 3.5rem;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-end; /* Align items horizontally at the end */
    padding: 0.5rem; /* Adjust padding as needed */
}

.inputAndSend #MessageInputFields {
    flex: 1; /* Take remaining width */
    margin-right: 0.5rem; /* Add some space between input and button */
}

#MessageInputFields{
    height: 2rem;
    border: 2px solid #5a5f75;
    outline: none;
    border-radius: 0.35rem;
    box-sizing: border-box;
    padding: 0.5rem;    
}

#SendMessageBtn{
    padding: 0.35rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    font-family: 'Madimi One';
    font-size: 1rem;
    color: white;
    background-color: #D33852;
    color: #fff;
    cursor: pointer;
}

.userChats {
    height: 100vh;
    border: 3px solid #434652;
    background-color: #74767e;
    box-sizing: border-box;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Add scrollbar when content exceeds container height */
}

.chatText{
    font-family:'PT Sans Narrow';
    width: 25vw;
    margin: 0.25rem;
    border-radius: 1rem;
    padding: 0.45rem;
    white-space: normal;
    word-wrap: break-word; 
    color: white;
    font-size: 1.15rem;
    position: relative;
}

.sender{
    align-self: flex-end;
    background-color: #4b5ebb;

}

.receiver{
    background-color:#24283a;
    align-self: flex-start;
}

.perticularUser{
    /* border: 2px solid red; */
    margin: 0.5rem 0.1rem 0.5rem 0.1rem;
    box-sizing: border-box;
    overflow: hidden;
    height: 2.5rem;
    display: flex;
    padding: 0.75rem;
    align-items: center;
    cursor: pointer;
}

.receiverUser{
    height: 3rem;
    padding: 1.5rem;
    font-family: 'Madimi One';
    font-size: 1rem;
    color: white;
    border: 3px solid #434652;
    border-bottom: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #2b3045;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
}

.perticularUserName {
    overflow: hidden;
    background: transparent;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.userImage{
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 0.25rem;
    border: 3px solid  #4b5ebb;
    border: 3px solid  white;
    box-sizing: border-box;
    margin-right: 0.4rem;
    border-radius: 50%;
}

.DivideUserLine{
    border-bottom: 1.25px solid #2b3045;
}


.Menue{
    width: 2.5rem;
    height: 3rem;
    padding: 0.25rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Menue > div {
    height: 0.45rem;
    border-radius: 0.25rem;
    background: #D33852;
}

#cancelPngImage{
    position: absolute;
    top: 0.5rem;
    right: 0.4rem;
    display: none;
    cursor: pointer;
}


 .Navbar{
    height: 3rem;
    position: absolute;
    top:0rem;
    right: 1rem;
    display: flex;
    align-items: center;
    width: fit-content;
}

.SignOutBtn , .ChangeDp{
    color: white;
    background-color:#D33852;
    /* position: absolute; */
    /* top: 0.5rem;
    right: 1rem;  */
    margin: 0.25rem;
    padding: 0.35rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    font-family: 'Madimi One';
    font-size: 1rem;
    color: white;
    background-color: #D33852;
    cursor: pointer;
} 

.DeleteBtn{
    position: absolute;
    bottom: 0.25rem;
    right: 0.2rem;
    cursor: pointer;
}


/* Hide scrollbar */
.usersContainer::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    border-radius: 50%; /* Border radius of the scrollbar */
}

/* Track */
.usersContainer::-webkit-scrollbar-track {
    background:transparent; /* Color of the scrollbar track */
}

/* Handle */
.usersContainer::-webkit-scrollbar-thumb {
    background: #323851; /* Color of the scrollbar handle */
    border-radius: 2px; /* Border radius of the scrollbar handle */
}

/* Handle on hover */
.usersContainer::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}


.userChats::-webkit-scrollbar {
    width: 0.51rem; /* Width of the scrollbar */
    border-radius: 50%; /* Border radius of the scrollbar */
}

/* Track */
.userChats::-webkit-scrollbar-track {
    background:transparent; /* Color of the scrollbar track */
}

/* Handle */
.userChats::-webkit-scrollbar-thumb {
    background: #323851; /* Color of the scrollbar handle */
    border-radius: 2px; /* Border radius of the scrollbar handle */
}

/* Handle on hover */
.userChats::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}




/* phones */


@media only screen and (max-width : 767px){
    .Container{
        height: 100vh;
        width: 100vw;
        position: relative;
    }
    .usersContainer {
        width:30vw;
        height: 93vh;
        left: 0;
        position: absolute;
    }
    #cancelPngImage{
        display: block;
    }
}


@media screen and (max-width:550px) {
    .usersContainer{
        width: 50vw;
    }
}


@media only screen and (max-width : 1023px ) and (min-width:768px){
    .Container{
        height: 100vh;
        width: 100vw;
    }
    .usersContainer{
        display: block;
        width: 20vw;
    }
}

@media only screen and (min-width: 768px){
    .Menue{
        display: none;
    }
    .usersContainer{
        display: block;
    }
}

