
.Container {
    height: 100vh;
    width:100%;
    box-sizing: border-box;
    margin: auto;
    padding-top: 2rem ;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    background-color: #2b3045;
    flex-direction: row;
    position: relative;
}

 .Navbar{
    height: 3rem;
    position: absolute;
    top:0rem;
    right: 1rem;
    display: flex;
    align-items: center;
    width: fit-content;
}

.SignOutBtn , .ChangeDp , .AllUser{
    color: white;
    background-color:#D33852;
    margin: 0.25rem;
    padding: 0.35rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    font-family: 'Madimi One';
    font-size: 1rem;
    color: white;
    background-color: #D33852;
    cursor: pointer;
} 


@media only screen and (max-width : 767px){
    .Container{
        height: 100vh;
        width: 100vw;
        position: relative;
    }
}


@media only screen and (max-width : 1023px ) and (min-width:768px){
    .Container{
        height: 100vh;
        width: 100vw;
    }
}

