body{
    padding: 0;
    margin: 0;
}

.SignUpLoginMainDiv{
    margin: auto;
    min-width: 65vw;
    font-family: 'Madimi One';
    min-height: 55vh;
    background-color:white;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 2rem;
    box-sizing: border-box;
    padding-left: 0.5rem;
}

.SignUpDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    background-color:wheat;
    flex: 1;
    min-height: 55vh;
}

#UserName , #Email , #Password{
    margin-left: 0.41rem;
    padding: 0.25rem;
    height: 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}



.InputValueDiv{
    margin: 0.35rem;
    display: flex;
    align-items: center;
}

.SignUpLogo{
    height: 50vh;
    width: 30vw;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* This ensures that the container takes the full height of the viewport */
    background-color: #2b3045; 
}

.BtnDiv{
    margin: 0.35rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

#SignUpBtn{
    padding: 0.35rem;
    margin: 0.71rem;
    border-radius: 0.25rem;
    border: 1px solid black;
    cursor: pointer;
}

.btn-blue{
    background-color:  #D33852;
    color: white;
    font-family: 'Madimi One';
    font-size: 1rem;

}

.btn-white{
    background-color: none;
    color: #D33852;
    font-family: 'Madimi One';

}
    
.Error_Field{
    color:#D33852;
}



@media only screen and (max-width:767px){
    .SignUpLogo{
        display: none;
    }
    .SignUpLoginMainDiv{
        padding: 1rem;
    }
}

